body{
    font-size: 17px;
    font-weight: 600;
}
.foto {
    height:500px; 
    width: 375px;
} 
.info {
    display: flex;
    margin-bottom: 20px;
}
.text {
    margin-left: 40px;
}
.card h2{
    margin-bottom: 10px;
}
.list {
    padding: 0 20px;
}
.forma label{
    display: block;
    font-size: 10px;
}
.forma input {
    width: 50%;
    background: transparent;
    border-bottom: 0.5px solid rgb(100, 88, 88);
    color: #000;
}
.forma textarea {
    width: 50%;
    background: transparent;
    border-bottom: 0.5px solid rgb(100, 88, 88);;
    color: #000;
}
.svyas {
    background: #111;
    padding: 15px 20px;
    color: #fff;
}